sonar.projectKey=my-node-ts-app
sonar.projectName=Sample app
sonar.projectVersion=0.0.1

sonar.sources=src
#sonar.tests=tests

sonar.language=ts
sonar.typescript.tsconfigPath=tsconfig.json
sonar.exclusions=**/node_modules/**,**/dist/**,**/coverage/**

# sonar.javascript.lcov.reportPaths=coverage/lcov.info
